<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="./favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link href="./_app/immutable/assets/0.CnQK38QG.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.D24xO5Yc.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CAqfSNek.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DB3oNYkW.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BYJub-E7.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.DTRHIQWL.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B9NGn59-.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/C5K6Kb-A.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Dokk3XwN.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.CKRMnBGX.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/3.C7xUK7-P.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/D-gsRIbT.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents"><!--[--><!--[--><!----><!----><a href="/demo/paraglide">paraglide</a><!----><!----><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_32u36m = {
						base: new URL(".", location).pathname.slice(0, -1)
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("./_app/immutable/entry/start.D24xO5Yc.js"),
						import("./_app/immutable/entry/app.DTRHIQWL.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 3],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
